<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sltreport_app">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Viewd"
            android:exported="true" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".LoginGmail"
            android:exported="true" />
        <activity
            android:name=".LoginPhone"
            android:exported="true" />
        <activity android:name=".Emp_ViewReportEdit" />
        <activity android:name=".ViewAddedReports" />
        <activity android:name=".ViewReportsEdit" />
        <activity android:name=".SupervisorMain" />
        <activity android:name=".AssignedTasks" />
        <activity android:name=".Employeemain" />
        <activity android:name=".Login" />
        <activity android:name=".ViewEmpProfile" />
        <activity android:name=".Reportbreakdown" />
        <activity
            android:name=".Mainpage"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>